	#u22077
	{
		background-image: url("../images/right-arrow26.png");
	}

	#u18342
	{
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(62,62,89,0.86)),color-stop(100%, rgba(0,0,0,0.84)));
		background: -webkit-linear-gradient(top,rgba(62,62,89,0.86) ,rgba(0,0,0,0.84) 100%);
		background: linear-gradient(to bottom,rgba(62,62,89,0.86) ,rgba(0,0,0,0.84) 100%);
	}

	#u18744
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u18745_states
	{
		float: left;
		background: transparent url("../images/u18745_states.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u18745:hover #u18745_states
	{
		background: transparent url("../images/u18745_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u18745.MuseLinkActive #u18745_states
	{
		background: transparent url("../images/u18745_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.hidpi #u18745.MuseLinkActive #u18745_states
	{
		background-image: url("../images/u18745_states_2x.png");
		background-image: url("../images/u18745_states-a_2x.png");
		background-size: 940px 37px;
	}

	.hidpi #u18745:hover #u18745_states
	{
		background-image: url("../images/u18745_states-r_2x.png");
		background-size: 940px 37px;
	}

	#u18746_states
	{
		float: left;
		background: transparent url("../images/u18746_states.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u18746:hover #u18746_states
	{
		background: transparent url("../images/u18746_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u18746.MuseLinkActive #u18746_states
	{
		background: transparent url("../images/u18746_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.hidpi #u18746.MuseLinkActive #u18746_states
	{
		background-image: url("../images/u18746_states_2x.png");
		background-image: url("../images/u18746_states-a_2x.png");
		background-size: 940px 37px;
	}

	.hidpi #u18746:hover #u18746_states
	{
		background-image: url("../images/u18746_states-r_2x.png");
		background-size: 940px 37px;
	}

	#u18745,#u18746,#u18747
	{
		vertical-align: top;
	}

	#u18747_states
	{
		float: left;
		background: transparent url("../images/u18747_states.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u18747:hover #u18747_states
	{
		background: transparent url("../images/u18747_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u18747.MuseLinkActive #u18747_states
	{
		background: transparent url("../images/u18747_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.hidpi #u18747.MuseLinkActive #u18747_states
	{
		background-image: url("../images/u18747_states_2x.png");
		background-image: url("../images/u18747_states-a_2x.png");
		background-size: 940px 37px;
	}

	.hidpi #u18747:hover #u18747_states
	{
		background-image: url("../images/u18747_states-r_2x.png");
		background-size: 940px 37px;
	}


