	#u22295
	{
		background-image: url("../images/right-arrow26.png");
	}

	#u19982
	{
		background: -webkit-gradient(linear, center top, center bottom, from(rgba(62,62,89,0.86)),color-stop(100%, rgba(0,0,0,0.84)));
		background: -webkit-linear-gradient(top,rgba(62,62,89,0.86) ,rgba(0,0,0,0.84) 100%);
		background: linear-gradient(to bottom,rgba(62,62,89,0.86) ,rgba(0,0,0,0.84) 100%);
	}

	#u19983
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u19985_states
	{
		float: left;
		background: transparent url("../images/u19985_states.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u19985:hover #u19985_states
	{
		background: transparent url("../images/u19985_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u19985.MuseLinkActive #u19985_states
	{
		background: transparent url("../images/u19985_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.hidpi #u19985.MuseLinkActive #u19985_states
	{
		background-image: url("../images/u19985_states_2x.png");
		background-image: url("../images/u19985_states-a_2x.png");
		background-size: 940px 37px;
	}

	.hidpi #u19985:hover #u19985_states
	{
		background-image: url("../images/u19985_states-r_2x.png");
		background-size: 940px 37px;
	}

	#u19984_states
	{
		float: left;
		background: transparent url("../images/u19984_states.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u19984:hover #u19984_states
	{
		background: transparent url("../images/u19984_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u19984.MuseLinkActive #u19984_states
	{
		background: transparent url("../images/u19984_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.hidpi #u19984.MuseLinkActive #u19984_states
	{
		background-image: url("../images/u19984_states_2x.png");
		background-image: url("../images/u19984_states-a_2x.png");
		background-size: 940px 37px;
	}

	.hidpi #u19984:hover #u19984_states
	{
		background-image: url("../images/u19984_states-r_2x.png");
		background-size: 940px 37px;
	}

	#u19985,#u19984,#u19986
	{
		vertical-align: top;
	}

	#u19986_states
	{
		float: left;
		background: transparent url("../images/u19986_states.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u19986:hover #u19986_states
	{
		background: transparent url("../images/u19986_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u19986.MuseLinkActive #u19986_states
	{
		background: transparent url("../images/u19986_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.hidpi #u19986.MuseLinkActive #u19986_states
	{
		background-image: url("../images/u19986_states_2x.png");
		background-image: url("../images/u19986_states-a_2x.png");
		background-size: 940px 37px;
	}

	.hidpi #u19986:hover #u19986_states
	{
		background-image: url("../images/u19986_states-r_2x.png");
		background-size: 940px 37px;
	}


